body{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #292D25;
  background-color: #F8F6F3;
  overflow: scroll;
}

a{
  color: #292D25;
}

  a:hover{
    color: #848583;
  }

  a:visited{
    color: #292D25;
  }

.header{
  background: #F8F6F3;
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

  .header__content{
    width: 80%;
    font-size: 0px;
    margin: 0 auto;
  }

  .header__content div{
    display: inline-block;
    width: 50%;
    font-size: 16px;
  }

  .intro{
    text-align: left;
  }

  .menu ul{
    text-align: right;
  }

  .menu li{
    list-style: none;
    text-align: right;
    /*width: 70px;*/
  }

    .menu li:hover{
      color: #848583;
      text-decoration: underline;
      cursor: pointer;
    }

    .active{
      color: #848583;
      text-transform: uppercase;
      font-size: 18px;
    }

.header2{
  /*border-bottom: 1px solid #292D25;*/
  height: 65px;
  background-color: #F2F1ED;
}

  .header2 .intro{
    position: relative;
  }

  .header2 p{
    display: none;
  }

  .header2 .intro h1{
    position: relative;
    top: -10px;
  }

  .header2 .menu{
    position: relative;
  }

  .header2 ul{
    position: relative;
    top: -10px;
  }

  .header2 li{
    display: inline;
    margin: 0 15px;
  }

.main{
  max-width: 960px;
  width: 80%;
  position: relative;
  top: 200px;
  margin: -150px auto 80px auto;
  background: #F8F6F3;
}

#greeting{
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
  margin: 125px 0 0 0;
}

.text2{
  background: url('../images/2.jpeg') center center fixed;
}

.text3{
  background: url('../images/3.jpg') center center fixed;
}

.text4{
  background: url('../images/4.jpg') center center fixed;
}
  .text2 p{
    position: relative;
    top: 24%;
    letter-spacing: 75px;
    font-size: 200px;
    color: #F8F6F3;
    width: 90%;
    margin: 0 auto;
  }

  .text3 p{
    position: relative;
    top: 24%;
    letter-spacing: 75px;
    font-size: 200px;
    color: #F8F6F3;
    width: 90%;
    margin: 0 auto;
  }

  .text4 p{
    position: relative;
    top: 24%;
    letter-spacing: 75px;
    font-size: 200px;
    color: #F8F6F3;
    width: 90%;
    margin: 0 auto;
  }

  .greeting__wrapper{
    background-color: rgba(155, 155, 155, 0.45);
    height: 100%;
  }

.projects{
  width: 100%;
  font-size: 0;
  margin-top: -125px;
}

.project{
  width: 65%;
  min-width: 300px;
  font-size: 15px;
  margin: 15px 15px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 25px 0;
}

  .project img{
    width: 100%;
    border: 1px solid #292D25;
    border-radius: 1px;
  }

  .project__text{
    height: 100px;
    color: #292D25;
    background: rgba(248, 246, 243, .85);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .project__text h3{
    text-decoration: underline;
  }

.about{
  background: rgba(248, 246, 243, .85);
  padding: 15px 10px;
  border: 2px solid #292D25;
  border-radius: 1px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 74px;
  width: 500px;
  margin: 0 auto;
}

footer{
  width: 100%;
  height: 30px;
  text-align: center;
  background: #292D25;
  font-size: 18px;
  position: fixed;
  bottom: 0;
}
  footer li{
    display: inline;
    padding: 0 10px;
  }
  footer a{
    color: #848583;
  }

    footer a:visited{
      color: #848583;
    }

    footer a:hover{
      color: #ffffff;
    }



@media (max-width: 824px) {
    .project {
      width: 70%;
      min-width: 0;
      margin-bottom: 30px;
    }
    .project__text{
      height: 60%;
      font-size: 14px;
    }
    h3{
      font-size: 24px;
    }
    .main .projects {
      text-align: center;
      margin-top: 20px;
    }
    #greeting p{
      width: 90%;
      font-size: 120px;
      letter-spacing: 25px;
    }

}

/*MOBILE STYLING*/

@media (max-width: 768px) {
    .header2{
      width: 100%;
      height: 75px;
    }
    .header2 .header__content{
      position: relative;
      display: inline-block;
      width: 100%;
    }
  /*  .header__content .hamburger{
      display: inline-block;
    }*/
    .header__content .intro{
      width: 150px;
      float: left;
    }
    .header__content .menu{
      position: relative;
      top: 47px;
      width: 40%;
    }
    .header2 .header__content .menu{
      position: relative;
      top: 5px;
      width: 40%;
    }
    .header2 ul{
      position: relative;
      top: 21px;
      left: -48px;
      font-size: 12px;
      width: 200px;
    }
    .header2 li {
        display: inline;
        margin: 0px 5px;
    }
    .main{
      top: 150px;
    }
    .project .project__text{
      height: 80%;
      font-size: 14px;
    }
    .project h3{
      font-size: 18px;
    }
    footer ul{
      padding: 0;
      margin: 0 auto;
    }
    #greeting{
      height: 300px;
    }
    #greeting p{
      width: 90%;
      font-size: 60px;
      letter-spacing: 25px;
      position: relative;
      top: 30%;
    }
    .about{
      width: 100%;
      margin-top: 50%;
    }
}

@media (max-width: 425px){
  .project .project__text{
    height: 100%;
    font-size: 10px;
  }
  .project h3{
    font-size: 16px;
  }
  #greeting p{
    width: 90%;
    font-size: 60px;
    letter-spacing: 25px;
  }
}
