body{
  background-color: #FFFFFB;
  font-family: 'Oswald', sans-serif;
  /*position: relative;*/
  background: #ebe5e2 center fixed;
  text-align: center;
  color: #486B26;
  background: url('../images/3.jpg') center fixed;
  background-size: cover;
}

a{
  color: #486B26;
}

  a:hover{
    color: #284B10;
  }

  a:visited{
    color: #486B26;
  }

.header{
  background: #F8F6F3;
  width: 100%;
  height: 125px;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #486B26;
}

  .header__content{
    max-width: 900px;
    width: 80%;
    font-size: 0px;
    margin: 0 auto;
  }

  .header__content div{
    display: inline-block;
    width: 50%;
    font-size: 16px;
  }

  .intro{
    text-align: left;
  }

  .menu ul{
    text-align: right;
  }

  .menu li{
    list-style: none;
    text-align: right;
    /*width: 70px;*/
  }

    li:hover{
      color: #284B10;
      text-decoration: underline;
      cursor: pointer;
    }

    .active{
      color: #789B56;
      text-transform: uppercase;
      font-size: 18px;
    }

    .header__hamburger{
      height: 100px;
    }

.main{
  max-width: 960px;
  width: 80%;
  position: relative;
  top: 200px;
  margin: 0 auto 80px auto;
}

.projects{
  width: 100%;
  font-size: 0;
}

.project{
  width: 45%;
  min-width: 300px;
  font-size: 15px;
  margin: 5px 15px;
  text-align: center;
  display: inline-block;
  position: relative;
}

  .project img{
    width: 100%;
    max-height: 200px;
    border: 1px solid #486B26;
  }

  .project__text{
    height: 100px;
    color: #486B26;
    background: rgba(248, 246, 243, .85);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .project__text h3{
    text-decoration: underline;
  }

.about{
  background: rgba(248, 246, 243, .85);
  padding: 15px 10px;
  border: 2px solid #486B26;
  border-radius: 10px;
  font-size: 22px;
}

footer{
  width: 100%;
  height: 30px;
  text-align: center;
  background: #486B26;
  font-size: 18px;
  position: fixed;
  bottom: 0;
}
  footer li{
    display: inline;
    padding: 0 10px;
  }
  footer a{
    color: #A1B422;
  }

@media (max-width: 824px) {
    .project {
        width: 80%;
    }
}
